@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

		body {
			background: linear-gradient(to right, #ff00ff, #00ffff);
			padding: 0px;
			margin: 0px;
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
		}

		input,
		button {
			border-radius: 5px;
			font-weight: 700;
		}

		#login-div,
		#logout-div {
			margin: 0px auto;
			width: 20%;
			padding: 20px;
			margin-top: 150px;
		}

		#login-div input {
			display: block;
			border: 1px solid #cccccc;
			border-radius: 5px;
			padding: 15px;
			outline: none !important;
			width: 100%;
			margin-bottom: 20px;
			transition: 0.3s;
		}

		.login-div input:focus {
			border: 1px solid #777;
		}

		#logout-div ul {
			list-style: none;
		}

		#login-div button,
		#logout-div button {
			background: #fa3651;
			color: #fff;
			border: 1px solid #fa3651;
			border-radius: 5px;
			padding: 10px;
			display: inline-block;
			width: 80px;
			transition: 0.3s;
			margin-right: 20px;
			margin-bottom: 20px;
			outline: none !important;

		}

		#logout-div li {
			background: #fa3651;
			color: rgb(10, 8, 8);
			border: 1px solid #fa3651;
			border-radius: 5px;
			padding: 10px;
			display: block;
			overflow: hidden;
			width: 100%;
			transition: 0.3s;
			margin-top: 20px;
			margin-bottom: 20px;
			outline: none !important;
		}

		#login-div button:hover,
		#logout-div button:hover,
		#logout-div li:hover {
			background: #fff;
			color: #fa3651;
			border: 1px solid #fa3651;
			cursor: pointer;
		}

		#uploader {
			-webkit-appearance: none;
			appearance: none;
			width: 50%;
			margin-bottom: 10px;
		}

		a {
			text-decoration: none;
			transition: 0.1s color;
			color: rgb(12, 11, 11);
		}

		a:hover {
			color: #fa3651;
			cursor: pointer;
		}
